.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ACA96A;
    padding: 8px 16px;
    z-index: 1;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img{
    width: 80px;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}