/* hard reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #F3F3F2;
    padding: 8px 16px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__brand {
    position: relative;
    display: block;
}

.main-header__brand img{
    opacity: 1;
    width: 140px;
    height: 140px;
    transition: .5s ease;
    border-radius: 50%;
}

.container:hover .main-header__brand img {
    opacity: 0.6;
}

.container:hover .text {
    opacity: 1;
}

.text {
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 5px 7px;
    border-radius: 40%;
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 65%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.main-nav {
    display: inline-block;
    text-align: center;
}

.main-nav__item a {
    font-size: 27px;
}


.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

.main-nav__item a {
    color: #CDCA4C;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 2px solid #3F0E5A;
}

#background-img {
    background: url("https://danwoodger.com/uploads/_2650x885_crop_top-left_75/2.6_STC_Hero_Image.jpg");
    background-size: cover;
    width: 100vw;
    height: 70vh;
    margin-top: 3.5rem;
    position: relative;
    border: 1px solid #1d1d1b;
}

h1 {
    width: 150vh;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: 20%;
    left: 38%;
    font-size: 1.6rem;
}