* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    height: 500px;
    border: red 2px dashed;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 7em auto;
    align-items: center;
}

.squares {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

.square__one,
.square__two,
.square__three {
    width: 30%;
    height: 200px;
    border: red 2px solid;
    border-radius: 10px;
    box-shadow: 13px 13px rgba(0, 0, 0, 0.2);
}

.square__one {
    background-color: blue;
}

.square__two {
    background-color: pink;
}

.square__three {
    background-color: brown;
}

.button button {
    padding: 1em 3em;
    border-radius: 10px;
    background-color: yellow;
    border: none;
    
}


