#background-img {
    background: url("https://danwoodger.com/uploads/_2650x885_crop_top-left_75/2.6_STC_Hero_Image.jpg");
    background-size: cover;
    width: auto;
    height: 70vh;
    margin-top: 58px;
    border: 2px solid #1d1d1b;
}

.text-area{
    margin-top: 80px;
}

h1 {
    margin-left: 20px;
    margin-bottom: 25px;
    font-family: 'Anton', sans-serif;
    font-size: 1.3rem;
    color: #000000;
    margin-right: 20px;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 1.1rem;
    margin-left: 20px;
}

