* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: semi-condensed;
}

main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.2), 
    -30px 0px 40px rgba(0,0,0,0.2);
}

.landing {
    display: flex;
    align-items: center;
}

.landing__text {
    width: 40%;
    padding: 1em;
    text-align: center;
    color: #24021b;
}

.landing__text h1 {
    margin:10px;
    font-size: 34px;
}

.landing__text h3 {
    margin: 15px;
    font-size: 19px;
}

.landing__text-button {
    background: #fff;
    border-radius: 50% 20% / 10% 40%;
    border: 2px solid rgb(53, 2, 49);
    font-size: 15px;
    text-decoration: none;
    color: #24021b;
    padding: 30px;
    margin-top: 20px;
    display: inline-block;
}

.landing__text-button:hover {
    background-color: #ff22aa;
    transition: background-color .5s;
    cursor: pointer;
}


.landing__text-button:active,
.landing__text-button:focus {
    outline: none;
}

.landing__background {
    width: 60%;
    height: 100vh;
}

.landing__background img {
    width: 100%;
    height: 100%;
}

.showcase__title {
    height: 5em;
    color: #fff;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase__title h3 {
    border-right: 1px #fff dashed;
    border-left: 1px #fff dashed;
    padding: 0 10px;
}

.showcase__background img {
    width: 100%;
}

.showcase__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 5em;
    background-color: #fff;
}

.showcase__text h3 {
    margin-bottom: 10px;
}

